/********************* gerais *********************/
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  /* overflow: hidden; */
  list-style: none;
  
}


body {
  background-color: #F9F9F9;
  /* width: 100vw; */
}




/**************************** header**********************/

header {
  display: flex;
  width: 100vw;
  height: 9.4rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

header .logo {
  margin-left: 7rem ;
}

header .icon {
  margin-right: 7rem;
}

.icon>a>img {
  margin-left:3.7rem ;
}


/****************banner**********************/

.banner {
    width: 100vw;

  
}

/****************section**********************/

section {
  background-color: #F9F9F9;
  height: 100vh;
  width: 100vw;

}

section .line {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5rem;
  border-bottom: solid 1px rgba(165, 161, 161, 0.2);
}

.line> h3 {
  margin-left: 7rem;
  font-size: 2rem;
  font-weight: 700;
  
}

.line> p {
  margin-right: 7rem;
  font-size: 1.8rem;
  font-weight: 400;
}



/*************************produtos**********************/

.produtos {
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
  /* border-bottom: solid 1px rgba(165, 161, 161, 0.2); */
  min-width: 144rem;
}

.produtos li:hover{
  transform: scale(1.05);
  transition: .5s;
}

.produtos h3 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: black;
}

.produtos p {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  color: #5CA720
}

.produtos span {
  font-size: 1.4rem;
  margin-right:.3rem;
  color: black;
  font-weight: 700;
}


.produtos ul {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 39.5rem;
  row-gap: 6.5rem;
  padding: 5rem;
}

.produtos li {
  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.produtos img {
  width: 202px;
  height: 202px;
  border-radius: 0.5rem;
}


/*****************footer****************/

 footer {
  /* width: 100vw ; */
  background-color: #F9F9F9;
  border-top: solid 1px rgba(165, 161, 161, 0.2);
  
 
} 

footer .footer-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21.6rem;
  border-bottom: solid 1px rgba(165, 161, 161, 0.2);
}


footer .footer-up li {
  margin-left: 5rem;
 
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #161616;
}

footer .form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

footer form {
  display: flex;
  flex-direction: column;
}

footer form label {
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #161616;
  margin: 0;
}

footer form input {
  width: 25.7rem;
  height: 3.4rem;
  margin: 0;
}

footer button{
  margin: 0;
  background-color: #5CA720;
  line-height: 2.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  height: 3.4rem;
  width: 10.7rem;
  color: #F9F9F9;
}

.input-box {
  display: flex;

}

.input-box input {
  font-size: 1.2rem;
padding: 1rem;
}